@import '../../styles/variables.scss';

.link {
  color: $accent-color;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size;
}

.link:hover {
  color: $primary-color;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

.active,
.disabled {
  color: $primary-color;
  font-weight: bold;
}

.disabled {
  pointer-events: none;
}