@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$gradient: linear-gradient(45deg, #8360c3, #2ebf91);

$primary-color: #01afff;
$accent-color: #c0c0c0;

$text-danger: #dc3545;
$text-success: #28a745;
$font-size: 14px;