@import '../../styles/variables.scss';

.title {
  font-family: 'Open Sans', sans-serif;
  font-size: 3rem;
  background: $gradient;
  background-clip: text;
  color: transparent;
  text-transform: uppercase;
  letter-spacing: 1rem;
}