@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

$primary-color: #01afff;
$accent-color: #c0c0c0;
$gradient: linear-gradient(45deg, #8360c3, #2ebf91);
$font-size: 14px;