@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.bg {
  background-image: url('./invitation.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  width: 15rem;
  margin: auto;
}

.names,
.date,
.location,
.note {
  font-family: 'Open Sans', sans-serif;
  display: block;
}

.names {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

.date,
.location {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.note {
  margin-top: 2rem;
}