.form-card {
  padding: 16px;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10rem;
}

.title {
  margin-bottom: 4rem;
}

.page-container {
  text-align: center;
  padding: 3rem;
}