@import '../../styles/variables.scss';

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: white;
  z-index: 99999;
}