@import '../../styles/variables.scss';

.footer-button {
  border: none;
  background-color: inherit;
  color: $accent-color;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: $font-size;
}

.footer-button:hover {
  color: $primary-color;
  font-weight: bolder;
}

.danger {
  color: $text-danger;
}

.danger:hover {
  font-weight: bolder;
  color: $text-danger;
}

.success {
  color: $text-success;
}

.success:hover {
  font-weight: bolder;
  color: $text-success;
}